{% extends 'base.html'%}


{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
            <h3 class="alert alert-light border rounded">Login Here</h3>
            <form action="/signin" method="post">
                {% csrf_token %}
                <!--firstname-->

                {% if error %}
                
                <div class="alert alert-danger" role="alert">
                  {{error}}
                </div>
                {% endif %}
                <!--email-->
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="email" name="email" id="" value="{{values.email}}" class="form-control-sm form-control" placeholder="example@gmail.com" aria-describedby="helpId">
                  
                </div>
                <!--password-->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" id="" class="form-control-sm form-control" placeholder="*******" aria-describedby="helpId">
                    
                  </div>
                <div class="form-group">
                    <input class="btn btn-sm btn btn-danger" type="submit" value="Login">
                </div>

            </form>
        </div>

    </div>
</div>
{% endblock content %}